# Project
COMPOSE_PROJECT_NAME=urban-atlas

# Backend
BACKEND_HOST_PORT=8000
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

# Frontend
FRONTEND_HOST_PORT=4200
ANGULAR_PORT=4200
API_BASE_URL=http://localhost:8000

# ETL
SOURCE_DB=postgresql://user:pass@localhost:5432/99mining
TARGET_DB=postgresql://user:pass@localhost:5432/urbanatlas

