# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Node / Angular
node_modules/
dist/
.angular/
coverage/
.npm/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

